Recruit-AI-Agent.json
{
  "name": "Recruit-AI-Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recruit-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "03443f2d-4871-450b-bf0f-33fc43565c5b",
      "name": "Webhook",
      "webhookId": "32a35a55-1cf4-43ff-94db-11ccd9dd89c3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eacf04a7-7a20-4bbd-b4fe-e794e4439ead",
              "name": "job_description",
              "value": "={{$json[\"job_description\"]}} ",
              "type": "string"
            },
            {
              "id": "f92bfbd1-8eff-435e-8853-143422f54ebf",
              "name": "resume_text",
              "value": "={{$json[\"resume_text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "704cfe1a-b7aa-4519-8d24-073dcb1a7c90",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Description:\n{{ $json.job_description }}\n\nResume:\n{{ $json.resume_text }}\n\nEvaluate objectively.",
        "options": {
          "systemMessage": "You are an AI recruitment analyst.\n\nEvaluate a resume against a job description.\n\nReturn ONLY valid JSON with this schema:\n\n{\n  \"score\": number between 0 and 100,\n  \"summary\": \"2–3 sentence evaluation\",\n  \"strengths\": [\"strength1\", \"strength2\"],\n  \"gaps\": [\"gap1\", \"gap2\"],\n  \"recommended_action\": \"Interview\" | \"Reject\" | \"Hold\"\n}\n\nScoring Guidelines:\n90–100: Excellent fit\n70–89: Strong fit\n50–69: Partial fit\nBelow 50: Weak fit"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "7ce61634-f394-41cc-961e-bf11a8ad2d95",
      "name": "Resume Analysis Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "74ee8cc4-b4a8-44e2-ad46-58e72932b971",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dUmpauXj8LeJljbs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output || items[0].json.message?.content;\n\n// Remove markdown code fences if present\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [{ json: parsed }];\n} catch (e) {\n  throw new Error(\"Failed to parse LLM JSON\");\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "0d300567-06a4-433f-9e34-a2be0451892b",
      "name": "Parse LLM Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb93641a-1615-400e-8004-8253b72229a3",
              "leftValue": "={{$json[\"recommended_action\"]}}",
              "rightValue": "Interview",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        0
      ],
      "id": "909b84b0-e16c-49ec-91f0-07d68f3043ac",
      "name": "Interview Decision"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        208
      ],
      "id": "c4daa226-05cb-47d5-b14b-6062a28ba633",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dUmpauXj8LeJljbs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a professional interview invitation email based on:\n\n{{ $json.summary }}\n\nReturn only email body.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        -48
      ],
      "id": "c0154915-07cd-4d20-a498-36335748c0aa",
      "name": "Generate Interview Email"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        160
      ],
      "id": "1f3acefd-8fbd-4ae5-9a5e-9b5ff8c023ee",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Resume Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analysis Agent": {
      "main": [
        [
          {
            "node": "Parse LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Output": {
      "main": [
        [
          {
            "node": "Interview Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interview Decision": {
      "main": [
        [
          {
            "node": "Generate Interview Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Interview Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Interview Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c72ba09-86c4-4c4e-be10-a705541e4250",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c7e1f389ae9995f8551fe4605ee6413cc35216cf9943627dc20a3b8389c42f3"
  },
  "id": "EvcfdLtAC76f40C7",
  "tags": []
}